<template>
  <Page class="page">
  		<ActionBar title="Home" class="action-bar" />
  		<ScrollView>
  			<StackLayout class="home-panel">
  				<!--Add your page content here-->
  				<Label textWrap="true" text="Play with NativeScript!" class="h2 description-label" />
                  <Label textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application." class="h2 description-label" />
                   <Image :src="pictureFromCamera"></Image>
                  <Button text="İleri" @tap="onButtonTap" />
              </StackLayout>
          </ScrollView>
      </Page>
</template>

<script>
import Test from '@/components/Test'
import { Image } from "ui/image";
import * as camera from "nativescript-camera";
  import axios from "axios";

export default {
    methods: {

        onButtonTap() {

            let app = this;


            camera.takePicture({
                width: 100,
                height: 150,
                keepAspectRatio: true,
                saveToGallery: false
            }).then((imageAsset) => {

             let source = new ImageSource();
              source.fromAsset(imageAsset).then((source) => {

                const base64image = source.toBase64String("jpg",60);

                });

                },
                 (err) => {

                  console.log("Error -> " + err.message);
                   });

            console.log("Button was pressed");
        }
    },

    data() {
        return {
                    pictureFromCamera: null,
                    base64:''

        };
    }
};
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
