<template>
  <Page class="page">
  		<ActionBar title="Home" class="action-bar" />
  		<ScrollView>
  			<StackLayout class="home-panel">
  				<!--Add your page content here-->
  				<Label textWrap="true" text="Play with NativeScript!" class="h2 description-label" />
                  <Label textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application." class="h2 description-label" />
                  <Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code." class="h2 description-label" />
                  <Button text="Geri" @tap="onButtonTap" />
              </StackLayout>
          </ScrollView>
      </Page>
</template>

<script>
import App from '@/components/App'
export default {
    methods: {
        onButtonTap() {
              this.$navigateTo(App)
            console.log("Button was pressed");
        }
    },

    data() {
        return {};
    }
};
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
